.create-wrapper {
	width: 980px;
	min-height: 10rem;
	background-color: #fff;
	float: right;
	margin-left: ;
}

.create-form {
	margin: 1.4rem;

}


.create-form input[type=text] {
	  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0 4rem 0 4rem;
  margin-left: 2.5rem;
  height: 6rem;
  font-size: 3rem !important;
  font-weight: 900 !important;
  width: 900px;
}

.create-form option {
	font-size: 4rem !important;
	height: 4rem !important;
}

.create-channel-select {
	margin: 0rem 0 0 4rem;
	padding-top: 2rem;
	color: #fff;
}

select {
	color: black;
}

.create-submit {
	float: right;
	clear: both;
	margin: 1rem;
	width: 930px;
}

.create-checkbox-email {
	float: left;
	clear: both;
	margin-left: 270px;
}

.create-form textarea {
	  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  height: 70rem;
  font-size: 2rem !important;
  font-weight: 900 !important;
  margin-top: 1rem !important;
  margin-left: 2.5rem;
  width: 900px;
  resize: none;
  box-shadow: none !important;
	font-size: 2rem !important;
	font-size: 16px !important;
	font-weight: 900 !important;
	margin-top: 1rem !important;
	margin-left: 2.5rem;
}


.create-channel-bar {
	height: 7rem;
	width: 980px;
	background-color: rgb(60, 62, 66);
	margin-left: -1.39rem;
	margin-right: 1.39rem;
}

.create-country {
	padding-left: 100px;
}

.vue-discussion-title {
	color: #fff;
	margin-left: 4rem;
}


