.discuss-wrapper {
	width: 980px;
	min-height: 10rem;
	background-color: #fff;
	float: right;
	border-left: solid 2px rgb(232, 232, 232);
	border-right: solid 2px rgb(232, 232, 232);
	border-bottom: solid 2px rgb(232, 232, 232);
}

.discuss-empty-top {
	/*border-bottom: solid 1px rgb(242, 242, 242);*/
}

a:hover {
	text-decoration: none;
}

.discuss-box {
	width: 10px;
	height: 10px;
	float: left;
}

.discuss-individual-wrapper {
	border-top: solid 1px rgb(232, 232, 232);
	padding: 2rem;
	clear: left;
	display: flex;

}

.discuss-individual-profile {
	width: 4rem;
	border-radius: 50%;
	float: left;
	left: 0;
	top: 0;
}

.discuss-individual-first-div {
	margin-right: 2rem;
	width: 4rem;
	float: left;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.first-text {
	position: relative;
	font-size: 0;
	left:0;
}

.discuss-individual-title {

}

.discuss-individual-updated-at {
	font-size: 1.5rem;
	color: #afafaf;
}

.discuss-individual-second-div {
	float: left;
	width: 650px;
	position: relative;
}

.discuss-individual-third-div {
	float: right;
	margin-left: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 190px;
	vertical-align: middle;
	position: relative;
}

.third-text {
	max-height: 50%;
}

.discuss-individual-fourth-div {
	float: right;
	width: 10px;
	height: 100%;
	text-align: right;
	vertical-align: middle;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fourth-text {
	max-height: 50%;
}

.pagination {
	clear: both;
	float: right;
	margin-right: 210px;
}

.check-mark {
	width: 2rem;
	float: left;
	top: 0;
	z-index: 1;
	position: absolute;
	
}