.home-wrapper {
	margin: 0 auto;
	width: 900px;
	/*border: solid 1px #000000;*/
	float: right;
	background-color: white;
	padding-bottom: 2rem;
	border: solid 1px #e0e0e0;
}
.home-form { 
    margin: 2rem;
}

.home-heading {
	background-color:  rgb(243, 122, 7);
	background-color: rgb(27, 177, 178);
	background-color: rgb(104, 152, 193);
    height: 4.6rem;
    color: #fff;
    font-size: 2rem; 
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}

.home-profile-image {
    width: 7rem;
    float: left;
    margin: 2rem;
    margin-left: 4rem;
    border-radius: 50%;
}

.home-user-name {
	float: left;
}

.home-member-since {
	float: right;
}

.home-image-div {
	float: left;
	margin-top: 3.4rem;
}

.home-information-div {
	float: left;
	width: 700px;
}

.home-link-wrapper {
	width: 300px;
	float: left;
	/*padding: 2rem;*/
	/*border: solid 1px black;*/
}

.home-nav-btn-discussion {
	font-size: 2rem;
	width: 100%;
	padding: 1rem;
	/*background-color: rgb(235, 173, 125);*/
	background-color: rgb(243, 122, 7);
	border: none;
	margin-bottom: 1rem;
	/*background-color: rgb(60, 62, 66);*/
}

.home-nav-btn-new {
	width: 100%;
	background-color: rgb(104, 152, 193);
	margin-bottom: 1rem;
}

.home-update-btn {
	font-size: 2rem;
	width: 100%;
	padding: 1rem;
	color: white;
	width: auto;
	float: right;
	/*background-color: rgb(235, 173, 125);*/
	background-color: rgb(243, 122, 7);
	border: none;
	/*background-color: rgb(60, 62, 66);*/
}


