body {
	background-color: rgb(104, 152, 193);
	margin: 0;
}

h3 {
	font-size: 1.5rem;
	color: #fff;
}

.top-bar { 
	background-color: rgb(104, 152, 193);
	height: 8rem;
	width: 100%;
}

.bottom-bar {
	position: absolute;
	top: 40rem;
	height: 10rem;
	width: 100%;
	background-color: rgb(60, 62, 66);
}

.middle-section {
	position: absolute;
	top: 12rem;
    height: 12rem;
	width: 100%;
}

.landing-h1 {
	font-size: 4rem;
	color: white;
}

.slogan-div {
	height: 10rem;
	width: 50rem;
	position: absolute;
	left: 7rem;
	top: 3rem;
}

.landing-logo {
	position: absolute;
	width: 20rem;
	left: 80rem;
	top: 1rem;
}

.landing-navigation {
	position: absolute;
	top: 13rem;
	left: 30rem;
}

.nav-btn {
	background-color: rgb(243, 122, 7);
	padding: 1rem 3rem 1rem 3rem;
	margin: 2rem;
	border-radius: .5rem;
	color: white;
	font-size: 1.3rem;
	text-decoration: none;
}

.main-logo {
    font-size: 2.9rem;
    position: absolute;
    top: .5rem;
    left: 1.5rem;
    /*font-family: 'PT Mono', monospace;*/
    color: white;
    float: left;
    padding-top: 1rem;
    margin-left: 2.5rem;
}

.codeqanda-main-logo {
    width: 4rem;

}