

.register-wrapper {
	width: 800px;
	background-color: #fff;
	height: auto;
	float: right;
	padding-bottom: 3rem;
	/*border: solid 1px black;*/
	/*box-shadow: 4px 4px 5px rgba(0, 0, 0, .5);*/
}

.register-nav-div {
	float: left;
	width: 400px;
}

.register-nav-btn-discussion {
	width: 100%;
	margin-bottom: 1rem;
	background-color: rgb(243, 122, 7);
}

.register-nav-btn-new {
	width: 100%;
	background-colfor: rgb(104, 152, 193);
	margin-bottom: 2rem;
}

.register-heading {
	width: 100%;
	height: 5rem;
	background-color: rgb(104, 152, 193);
	padding: 1rem;	
}

.register-form {
	margin: 2rem 8rem;
}

.register-text-field {
	height: 4rem;
}

.register-text-field:focus {
	height: 4rem;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, .5);
}

.register-label {
	font-size: 1.4rem;
	border-radius: .7rem;
}

#image-preview {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #000;
  font-size: 1.5rem;
  input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
  }
  label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
}

