.show-wrapper {
	width: 1200px;
	height: auto;
	float: left;
	border: solid 2px rgb(232, 232, 232);
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 18px;
	letter-spacing
}

a {
	color: orange;
}

a:hover {
	text-decoration: none;
	color: orange;
}

.show-discussion-header {
	width: 1197px;
	height: auto;
	border-bottom: solid 2px rgb(232, 232, 232);
	font-size: 4rem;
	padding: 1.3rem 2.2rem 1.3rem 2.2rem;
}

.show-discussion-profile {
	padding: 2rem;
	width: 100px;
	margin-left: 2rem;
	margin-right: 0;
	float: left;
	font-size: 0;
}

.discuss-individual-profile {
	width: 6rem;
	border-radius: 50%;
}

.show-discussion-content {
	float: right;
	width: 1070px;
	padding: 2rem;
}

.show-discussion-by {
	font-size: 2rem;
	padding-top: 0;
	color: #afafaf;
}

.show-discussion-by a {
	color: orange;
}

.show-discussion-by a:visited {
	color: orange;
}
.show-discussion-by a:ho {
	color: orange;
}

.show-discussion-body {
	margin-top: 2rem;
	color: #7a7a7a;
}

.show-comment-wrapper {
	clear: both;
	width: 1200px;
	height: auto;
	font-size: 18px;
	float: left;
	margin-top: 2rem;
	padding: 2rem;
	border: solid 2px rgb(232, 232, 232);
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif; 
}

.show-comment-wrapper textarea {
	outline: none;
	border: none !important;
	height: 600px;
	width: 1125px;
	box-shadow: none !important;
	font-size: 2rem !important;
	font-size: 16px !important;
	font-weight: 900 !important;
	margin-top: 1rem !important;
	margin-left: 2.5rem;
	/*resize: none;*/
}

.show-comment-btn {
	clear: both;
	float: left;
	width: 1000px;
	margin-top: 1rem;
	margin-left: 110px;
    background-color: rgb(104, 152, 193);
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.show-comment-btn:hover {
    background-color: rgb(104, 152, 193);
}

/* Comments */

.show-comment-wrapper a {
	color: orange;
	text-decoration: none;
}

.show-comment-wrapper a:visited {
	color: orange;
	text-decoration: none;
}

.show-comment-wrapper a:active {
	color: orange;
	text-decoration: none;
}

.show-comment-wrapper {
	width: 1200px;
	height: auto;
	clear: both;
	color: #7a7a7a;
	color: #262626 !important;
	border: solid 2px rgb(232, 232, 232);
	background-color: #fff;

}

.show-comment-profile {
	padding: 2rem;
	width: 60px;
	float: left;
	font-size: 0;
}

.show-comment-body {
	margin-top: 2rem;
	color: #7a7a7a;
}

.show-comment-content {
	float: right;
	width: 1050px;
	padding: 2rem;
}

.show-comment-wrapper span[class*="up"] {
	float: left;
	clear: both;
}

.show-comment-wrapper a {
	color: #000;
}

.show-comment-wrapper span[class*="up"]:hover {
	cursor: pointer;
}

.show-comment-likes {
	float: left;
	clear: both;
}

.show-comment-like-by {
	float: left;
	clear: both;
	font-size: 1.5rem;
}

.show-comment-like {
	background: rgb(243, 122, 7);
	background: rgb(104, 152, 193);
	border-radius: 6px;
	font-size: 1.5rem;
	color: #fff;
	padding: 0 6px;
	margin-right: 10px;
	box-shadow: 2px 2px 3px rgba(0,0,0,.4);
	float: left;
}

.show-comment-by-flag {
	font-size: 0;
	float: left;
}

.show-answer-checkmark {
	float: right;
}

.show-answer-checkmark-img {
	width: 3rem;
	cursor: pointer;
}

.show-best-answer {
	width: 3rem;
	float: left;
	position: absolute;
}

.show-best-answer-content {
	background-color: ;
	margin: 4rem 3rem;
	/*padding: 2rem;*/
	border: solid 1px #dddddd;
	font-size: 1.5rem;
}

.show-best-answer-body {
	padding: 1rem;
}

.show-best-answer-header {
	padding: 1rem;
	background: #ddeaff;
}

.show-best-answer-heading {
	color: #000;
	float: left;
}

.show-best-answer-icon {
	float: right;
}

code {
	background: black;
}
pre {
	background: rgb(29,31,33);
	color: white;
	width: 85%;
	margin: 0 auto;
}

















