.profile-wrapper {
	width: 800px;
	margin: 0 auto;
}

.profile-img {
	float: left;
	border-radius: 50%;
	border: solid 4px rgb(104, 152, 193);
	text-shadow 3px 3px 4px rgba(0,0,0,.4);
}



.profile-info {
	float: left;
	margin: 2rem 4rem;
}

.profile-headings {
	float: left;
	margin: 2rem 4rem;
}

.profile-heading {
	font-size: 2rem;
	color: #686868;
}

.profile-heading-info {
	float: left;
	margin: 2rem 4rem;
}

.profile-information {
	font-size: 2rem;
	color: #686868;
}

.bottom-bar {
	width: 100%;
	height: 6rem;
	padding-top: 1.5rem;
	float: left;
	color: white;
	text-align: center;
	background: rgb(104, 152, 193);
}

.profile-recent-activity {
	width: 1250px;
	clear: left;
	padding-top: 4rem;
	position: relative;
}

.profile-recent-discussions {
	border: solid 1px rgb(232, 232, 232);
	background-color: #fff;
	width: 48%;
	float: left;
}

.profile-recent-discussions-heading {
	width: 100%;
	height: 5rem;
	background: rgb(104, 152, 193);
	color: #fff;
	text-align: center;
	padding-top: 1.25rem;
}

.profile-recent-discussions-body {
	padding: 2rem;
}

.profile-recent-comments {
	border: solid 1px rgb(232, 232, 232);
	background-color: #fff;
	width: 48%;
	float: right;
}

.profile-recent-comments-heading {
	width: 100%;
	height: 5rem;
	background: rgb(104, 152, 193);
	color: #fff;
	text-align: center;
	padding-top: 1.25rem;
}

.profile-recent-comments-body {
	padding: 2rem;
}

.profile-img {
	width: 20rem;
}


.profile-flag {
	font-size: 0rem;

}













