body, html {
    margin: 0;
    width: 100%;
    min-width: 1500px;
    background-color: rgb(245, 245, 241);
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    font-size: 2rem !important;
    padding: 1rem !important;
    
    

}

.channels {
    width: 270px;
    min-height: 7rem;
    background-color: yellow;
    float: left;
}

.header-text {
    color: white;
}

.small-red-text {
    font-size: 1.5rem;
    color: red;
}

.green {
    color: #3bff05;
}

.top-bar {
    width: 100%;
    background-color: rgb(60, 62, 66);
    min-height: 8rem;
    height: auto;
}



.second-bar {
    background-color: rgb(60, 62, 66);
    width: 100%;
    min-height: 5.6rem;
    border-top: solid 1px rgb(78, 81, 86);
}

.third-bar {
    min-height: 5rem;
    clear: both;
    width: 100%;
    background-color: rgb(72, 103, 170);
    background-color: #ff0000;
    background-color: rgb(104, 152, 193);
}

.wrapper {
    position: absolute;
    top: 6.1rem;
    height: auto;
    min-width: 1300px;
    left: 30rem;
    background-color: transparent;
    margin: 0 auto;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
}



.second-bar-content {
    margin-top: 2rem;
    min-height: 6rem;
    width: 100%;
}

.main-logo {
    font-size: 4rem;
    /*font-family: 'PT Mono', monospace;*/
    color: white;
    float: left;
    padding-top: 1rem;
    margin-left: 2.5rem;
}

.main-logo a {
    color: #fff;
    text-decoration: none;
}

.main-logo a:hover {
    color: #fff;
    text-decoration: none;
}

.main-logo a:active {
    color: #fff;
    text-decoration: none;
}

.ask-logo {
    font-size: 3rem;
    top: 1rem;
    position: relative;
    /*font-family: 'PT Mono', monospace;*/
    color: #fff;
    margin-top: 1rem;
    float: left;
    margin-left: 2rem;
}

.codeqanda-main-logo {
    width: 7rem;
    /*transform: rotate(280deg);*/
}

.main-my-profile {
    width: 8rem;
    height: 8rem;
    float: right;
    margin-right: 1rem;
}

.main-profile-image {
    float: right;
    width: 6rem;
    margin-top: 1rem;
    border: solid 3px #fff;
    border-radius: 50%;
}

.main-my-profile-header {
    float: right;
    margin-top: 2.5rem;
    margin-right: 2rem;
    font-size: 2rem;
    color: #fff;
}

.main-logo-com {
    font-size: 2rem;
    color: #fff;
}

.site-nav {
    float: right;
}

.nav-btn-div {
    float: left;
}

.nav-btn {
    /*background-color: #7cffd3;
    background-color: rgba(212, 255, 0, 1);
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0 , 0, 0, .45);
    color: black;
    font-size: 2rem !important;
    padding: .2rem 2rem !important;
    margin-top: .7rem;
    margin-left: 4rem;*/
    border-left: solid 1px rgb(78, 81, 86);
    padding: 1rem 5rem;
    border-radius: 0;
    font-size: 2rem;
    font-weight: 800;
    color: white;

}

.nav-btn:hover {
    background-color: rgb(104, 152, 193);
    color: white;
    border-bottom: solid 1px rgb(72, 103, 170);
}

.nav-btn:active {
    background-color: rgb(104, 152, 193);
    color: white;
    border-bottom: solid 1px rgb(72, 103, 170);
}

.nav-icon {

    padding: 0 3rem 0 0;
}

.nav-btn-right {
    border-right: solid 1px rgb(78, 81, 86);
}

.folder-navigation-div {
    width: 1200px;
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    margin-top: -.9rem;
    float: left;
}

.folder-navigation-div a {
    text-decoration: none;
    color: #fff;
}

.folder-up-style {
    border-radius: 1.2rem;
    padding: 0 2rem;
}

.folder-up-style:hover {
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
    padding: 0 2rem;
}

.folder-active-style {
    font-weight: 800;
    padding: 0 2rem;
    color: rgba(29 ,255, 0, .8);
    color: black;
    width: 700px;
}


.content {
    width: 100%;
    height: 500px;
    /*background-color: #fff;*/
    margin-top: 5rem;
    padding: 3rem;
    font-size: 2rem;
    border-radius: 1rem;
    /*border: solid 1px rgba(29 ,255, 0, .4);*/
}

.test {
    font-size: 3rem;
    color: red;
}

.login-wrapper {
    width: 800px;
    margin: 0 auto;
    border: solid 1px black;
    padding-bottom: 5rem;
    background-color: #fff;
}

.login-heading {
    background-color: rgb(104, 152, 193);
    height: 4.6rem;
    color: #fff;
    font-size: 2rem; 
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}

}

@media (max-width: 1500px) {
    .wrapper {
        left: 10rem;
    }
}

